/* Estilos gerais */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-container h1,
h2,
h3 {
  color: #02134f;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.main-container p,
li {
  color: #536cb0;
  text-align: justify;
}

/* Página de resultado */

.header-resultado {
  max-width: 800px;
  height: 60px;
  margin: 0 auto;
}

.header-resultado img {
  height: 100%;
}

/* Página imc */

.header-final-screen {
  padding: 10px;
  height: 80px;
}

.header-final-screen img {
  height: 100%;
}
